<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.summary.fillcheck.mapper.BussinessFlowWorkSummaryInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.summary.fillcheck.entity.BussinessFlowWorkSummaryInfo">
		<id column="ID_CHE" property="idChe" />
		<result column="ID_R" property="idR" />
		<result column="CHECK_USER_ID" property="checkUserId" />
		<result column="CHECK_USER" property="checkUser" />
		<result column="CHECK_USER_DEPT_ID" property="checkUserDeptId" />
		<result column="CHECK_USER_DEPT_NAME" property="checkUserDeptName" />
		<result column="DESIGNEE_ID" property="designeeId" />
		<result column="DESIGNEE_NAME" property="designeeName" />
		<result column="DESIGNEE_DEPT_ID" property="designeeDeptId" />
		<result column="DESIGNEE_DEPT_NAME" property="designeeDeptName" />
		<result column="ORDER_OF_CURRENT_NODE" property="orderOfCurrentNode" />
		<result column="NODE_IS_ACTIVE" property="nodeIsActive" />
		<result column="CREATEOR" property="createor" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATEOR" property="updateor" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="CHECK_USER_JOB_NUMBER" property="checkUserJobNumber" />
		<result column="CURRENT_NODE_STATUS" property="currentNodeStatus" />
	</resultMap>

	<!--所有字段-->
	<sql id="allColumns">
		ID_CHE,
		ID_R,
		CHECK_USER_ID,
		CHECK_USER,
		CHECK_USER_DEPT_ID,
		CHECK_USER_DEPT_NAME,
		DESIGNEE_ID,
		DESIGNEE_NAME,
		DESIGNEE_DEPT_ID,
		DESIGNEE_DEPT_NAME,
		ORDER_OF_CURRENT_NODE,
		NODE_IS_ACTIVE,
		CREATEOR,
		CREATE_TIME,
		UPDATEOR,
		UPDATE_TIME,
		CHECK_USER_JOB_NUMBER,
		CURRENT_NODE_STATUS
	</sql>

	<!--1.向业务表种批量插入数据-->
	<insert id="insertBatches">
		<if test="flows!=null and flows.size()>0">
			insert into bussiness_flow_work_summary_info
			(ID_R,
			CHECK_USER_ID,
			CHECK_USER,
			CHECK_USER_DEPT_ID,
			CHECK_USER_DEPT_NAME,
			ORDER_OF_CURRENT_NODE,
			NODE_IS_ACTIVE,
			CREATEOR,
			CREATE_TIME,
			CHECK_USER_JOB_NUMBER,
			CURRENT_NODE_STATUS
			)
			<foreach collection="flows" separator="," item="item">
				(#{item.idR},
				#{item.checkUserId},
				#{item.checkUser},
				#{item.checkUserDeptId},
				#{item.checkUserDeptName},
				#{item.orderOfCurrentNode},
				#{item.nodeIsActive},
				#{item.createor},
				#{item.createTime},
				#{item.checkUserJobNumber},
				#{item.currentNodeStatus}
				)
			</foreach>
		</if>
	</insert>

	<!--2.根据idR查询业务流数据，并根据审批节点顺序正向排序-->
	<select id="queryByIdR" resultMap="BaseResultMap">
		select <include refid="allColumns"/>
		from bussiness_flow_work_summary_info
		where ID_R=#{idR}
		order by ORDER_OF_CURRENT_NODE
	</select>

	<!--3.根据idR查询业务流数据Map，并根据审批节点顺序正向排序-->
	<select id="queryMapByIdR" resultMap="BaseResultMap">
		select <include refid="allColumns"/>
		from bussiness_flow_work_summary_info
		where ID_R=#{idR}
		order by ORDER_OF_CURRENT_NODE
	</select>

	<!--4.根据idR和节点审批顺序 修改 “活跃状态”和“当前节点状态-->
	<update id="updateFlowStatus">
		<if test="flow!=null">
			update bussiness_flow_work_summary_info
			set NODE_IS_ACTIVE=#{flow.nodeIsActive},
			CURRENT_NODE_STATUS=#{flow.currentNodeStatus},
			UPDATEOR=#{flow.updateor},
			UPDATE_TIME=#{flow.updateTime}
			where ID_R=#{flow.idR} and ORDER_OF_CURRENT_NODE=#{flow.orderOfCurrentNode}
		</if>
	</update>

	<!--5.根据idR和当前用户id值 从业务表中得到当前登录人的审批顺序数据对象-->
	<select id="queryOrderOfNodeValue" resultMap="BaseResultMap">
		select <include refid="allColumns"/>
		from bussiness_flow_work_summary_info
		where (CHECK_USER_ID=#{userId} or DESIGNEE_ID=#{userId}) and ID_R=#{idR}
		and NODE_IS_ACTIVE='1'
	</select>

	<!--6.根据idR和当前用户id值 从业务表中得到当前登录人的审批顺序-->
	<select id="queryOrderOfNode" resultType="java.lang.Integer">
		select ORDER_OF_CURRENT_NODE
		from bussiness_flow_work_summary_info
		where (CHECK_USER_ID=#{userId} or DESIGNEE_ID=#{userId}) and ID_R=#{idR}
		and NODE_IS_ACTIVE='1'
	</select>

	<!--7.修改业务表的被指派人数据-->
	<update id="updateTransfer">
		update bussiness_flow_work_summary_info
		set DESIGNEE_ID=#{flow.designeeId},
		DESIGNEE_NAME=#{flow.designeeName},
		DESIGNEE_DEPT_ID=#{flow.designeeDeptId},
		DESIGNEE_DEPT_NAME=#{flow.designeeDeptName},
		UPDATEOR=#{flow.updateor},
		UPDATE_TIME=#{flow.updateTime},
		CHECK_USER_JOB_NUMBER=#{flow.checkUserJobNumber}
		where ID_R=#{flow.idR} and ORDER_OF_CURRENT_NODE=#{flow.orderOfCurrentNode}
	</update>

</mapper>
