<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.indexdesign.mapper.IndexSystemOpinionsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.indexdesign.entity.IndexSystemOpinions">
		<id column="ID_OP" property="idOp" />
		<result column="ID_R" property="idR" />
		<result column="EXPERTS_ID" property="expertsId" />
		<result column="EXPERTS_NAME" property="expertsName" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="EXPERTS_OPINION" property="expertsOpinion" />
	</resultMap>

</mapper>
