<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.indexdesign.mapper.TIndexSystemTempMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.indexdesign.entity.TIndexSystemTemp">
		<id column="ID_X" property="idX" />
		<result column="INDEX_CODE_1" property="indexCode1" />
		<result column="INDEX_NAME_1" property="indexName1" />
		<result column="INDEX_CODE_2" property="indexCode2" />
		<result column="INDEX_NAME_2" property="indexName2" />
		<result column="INDEX_CODE_3" property="indexCode3" />
		<result column="INDEX_NAME_3" property="indexName3" />
		<result column="INDEX_SCORE" property="indexScore" />
		<result column="INDEX_EXPLANATION" property="indexExplanation" />
	</resultMap>

</mapper>
