<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.index.mapper.TOperationManualRegulationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.index.entity.TOperationManualRegulation">
		<id column="ID_X" property="idX" />
		<result column="FILE_NAME" property="fileName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="FILE_SIZE" property="fileSize" />
		<result column="CREATEOR" property="createor" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>
	<select id="listForPage" resultMap="BaseResultMap">
	    SELECT * FROM t_operation_manual_regulation t
		<where>
			<!-- 文件名称 -->
			<if test="fileName != null and fileName != ''">
				and t.FILE_NAME like concat('%',#{fileName},'%')
			</if>

			<!-- 查询开始时间 -->
			<if test="beginTime != null and beginTime != ''">
				and t.CREATE_TIME &gt;=#{beginTime}
			</if>

			<!-- 查询结束时间 -->
			<if test="endTime != null and endTime != ''">
				 and t.CREATE_TIME &lt;=#{endTime}
			</if>


		</where>
	  </select>
</mapper>
