<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.indexdraftdesign.mapper.RelationIndexWorkingManuscriptDesignMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.indexdraftdesign.entity.RelationIndexWorkingManuscriptDesign">
		<id column="ID_R" property="idR" />
		<result column="ID_B" property="idB" />
		<result column="VERSION_NO" property="versionNo" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_STAUTS" property="createStauts" />
		<result column="INDEX_WORKING_PAPER_TYPE" property="indexWorkingPaperType" />
		<result column="INDEX_WORKING_PAPER_STAUTS" property="indexWorkingPaperStauts" />
		<result column="CREATE_UASE_NAME" property="createUaseName" />
		<result column="CURR_CHECK_ID" property="currCheckId" />
		<result column="CURR_CHECK_NAME" property="currCheckName" />
	</resultMap>

	<select id="findByIdaList" resultMap="BaseResultMap">
		select * from  relation_index_working_manuscript_design  where  ID_B in (select ID_B from t_index_system_dseign where id_r in (select id_r from RELATION_PRO_INDEX where id_a in
		<foreach item="item" collection="idaList" separator="," open="(" close=")" index="">
			#{item}
		</foreach>
	</select>
</mapper>
