<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.indexdraftdesign.mapper.TIndexWorkingManuscriptDesignSatisfactionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.indexdraftdesign.entity.TIndexWorkingManuscriptDesignSatisfaction">
		<id column="ID_C" property="idC" />
		<result column="ID_R" property="idR" />
		<result column="POINTS_NAME" property="pointsName" />
		<result column="POINTS_YEARS" property="pointsYears" />
		<result column="SATISFACTION" property="satisfaction" />
		<result column="EVALUATION_SCORE" property="evaluationScore" />
		<result column="EXISTING_PROBLEMS" property="existingProblems" />
		<result column="CAUSE_ANALYSIS" property="causeAnalysis" />
	</resultMap>

</mapper>
