<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.scheme.mkscheme.mapper.RelationProPreparEvalWorkPlanMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.scheme.mkscheme.entity.RelationProPreparEvalWorkPlan">
		<id column="ID_R" property="idR" />
		<result column="ID_A" property="idA" />
		<result column="VERSION_NO" property="versionNo" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="CREATE_STAUTS" property="createStauts" />
		<result column="CREATE_UASE_NAME" property="createUaseName" />
		<result column="CREATE_UASE_ID" property="createUaseId" />
		<result column="CURR_CHECK_ID" property="currCheckId" />
		<result column="CURR_CHECK_NAME" property="currCheckName" />
		<result column="RELATION_STATUS" property="relationStatus" />
		<association property="proPerformanceInfo" javaType="com.common.business.project.approval.entity.TProPerformanceInfo">
			<id column="ID_A" property="idA" />
			<result column="PRO_STATUS" property="proStatus" />
			<result column="PRO_CODE" property="proCode" />
			<result column="PRO_NAME" property="proName" />
			<result column="PRO_PARTEN_ID" property="proPartenId" />
			<result column="PRO_PARTEN_NAME" property="proPartenName" />
			<result column="PRO_MANAGER_ID" property="proManagerId" />
			<result column="PRO_MANAGER_NAME" property="proManagerName" />
			<result column="PRO_ISDISMANT" property="proIsdismant" />
			<result column="PRO_IS_SECRET" property="proIsSecret" />
			<result column="PRO_SECRETARY_ID" property="proSecretaryId" />
			<result column="PRO_SECRETARY_NAME" property="proSecretaryName" />
			<result column="PRO_INDEP_REVIEW_ID" property="proIndepReviewId" />
			<result column="PRO_INDEP_REVIEW_NAME" property="proIndepReviewName" />
			<result column="BUD_FUNCT_CLASS_ID" property="budFunctClassId" />
			<result column="BUD_FUNCT_CLASS_NAME" property="budFunctClassName" />
			<result column="PRO_LEVEL4_CLASS_ID" property="proLevel4ClassId" />
			<result column="PRO_LEVEL4_CLASS_NAME" property="proLevel4ClassName" />
			<result column="NATION_ECO_INDUST_CLASS_ID" property="nationEcoIndustClassId" />
			<result column="NATION_ECO_INDUST_CLASS_NAME" property="nationEcoIndustClassName" />
			<result column="RISK_LEVEL" property="riskLevel" />
			<result column="PARENT_PRO_CODE" property="parentProCode" />
			<result column="PARENT_PRO_NAME" property="parentProName" />
			<result column="BUSSINESS_TYPE" property="bussinessType" />
			<result column="EVALUATION_OBJ" property="evaluationObj" />
			<result column="IS_SETUP_WORKING_GROUP" property="isSetupWorkingGroup" />
			<result column="PRO_BASE_INFO" property="proBaseInfo" />
			<result column="PER_EVAL_OBJ" property="perEvalObj" />
			<result column="PRO_APPROVAL_TIME" property="proApprovalTime" />
			<result column="PRO_APPROVALER" property="proApprovaler" />
			<result column="UPDATE_TIME" property="updateTime" />
			<result column="UPDATER" property="updater" />
			<result column="DEVELOPMENT_STATUS" property="developmentStatus" />
			<result column="INDEX_DSEIGN_STATUS" property="indexDseignStatus" />
			<result column="WORKING_DESIGN_STATUS" property="workingDesignStatus" />
			<result column="RESEARCH_SCHEDULE_STATUS_Y" property="researchScheduleStatusY" />
			<result column="RESEARCH_SCHEDULE_STATUS_C" property="researchScheduleStatusC" />
			<result column="RESEARCH_OUTLINE_STATUS_Y" property="researchOutlineStatusY" />
			<result column="RESEARCH_OUTLINE_STATUS_C" property="researchOutlineStatusC" />
			<result column="RESEARCH_LETTER_STATUS_Y" property="researchLetterStatusY" />
			<result column="RESEARCH_LETTER_STATUS_C" property="researchLetterStatusC" />
			<result column="QUES_CHECK_STATUS_Y" property="quesCheckStatusY" />
			<result column="QUES_CHECK_STATUS_C" property="quesCheckStatusC" />
			<result column="WORKING_WRITE_STATUS_Y" property="workingWriteStatusY" />
			<result column="WORKING_WRITE_STATUS_C" property="workingWriteStatusC" />
			<result column="PERPAR_WORKPLAN_STATUS" property="perparWorkplanStatus" />
			<result column="PRELIM_EVAL_CONC_STATUS" property="prelimEvalConcStatus" />
			<result column="EVAL_REPORT_STATUS" property="evalReportStatus" />
			<result column="WORK_SUMMARY_STATUS" property="workSummaryStatus" />
			<result column="ARCHIVES_CLASS" property="archivesClass" />
			<result column="JOB_REQUIREMENTS" property="jobRequirements" />
			<result column="OTHER_DESC" property="otherDesc" />
			<result column="IS_TASK_ASSIGNED" property="isTaskAssigned" />
			<result column="ARCHIVES_CLASS_STATUS" property="archivesClassStatus" />
			<result column="EXPERT_GROUP_ISFORMED" property="expertGroupIsformed" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		id_r,
		id_a,
		version_no,
		create_time,
		create_stauts,
		create_uase_name,
		CREATE_UASE_ID,
		curr_check_id,
		curr_check_name,
		RELATION_STATUS
	</sql>
	<sql id="Base_rppewp_Column_List">
		rppewp.id_r,
		rppewp.id_a,
		rppewp.version_no,
		rppewp.create_time,
		rppewp.create_stauts,
		rppewp.create_uase_name,
		rppewp.CREATE_UASE_ID,
		rppewp.curr_check_id,
		rppewp.curr_check_name,
		rppewp.RELATION_STATUS
	</sql>

	<select id="pageList" resultMap="BaseResultMap"  parameterType="string">
		select
		<include refid="Base_rppewp_Column_List"/>,tppi.*
		from relation_pro_prepar_eval_work_plan rppewp left join t_pro_performance_info tppi
		on tppi.ID_A = rppewp.ID_A
		<where>
			AND rppewp.RELATION_STATUS = 1
			AND rppewp.CREATE_UASE_ID = #{user.id}
		</where>
		order by rppewp.CREATE_TIME,rppewp.version_no desc


	</select>

	<select id="checkPagelist" resultMap="BaseResultMap"  parameterType="string">
		select
		<include refid="Base_rppewp_Column_List"/>,tppi.*
		from relation_pro_prepar_eval_work_plan rppewp left join t_pro_performance_info tppi
		on tppi.ID_A = rppewp.ID_A
		<where>
			AND rppewp.RELATION_STATUS = 1
			AND rppewp.CREATE_STAUTS = 1
			AND rppewp.CURR_CHECK_ID = #{user.id} 
		</where>
		order by rppewp.CREATE_TIME,rppewp.version_no desc


	</select>
</mapper>
