<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.pre.mkletter.mapper.TResearchLetterMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.pre.mkletter.entity.TResearchLetter">
		<id column="ID_B" property="idB" />
		<result column="ID_R" property="idR" />
		<result column="RESEARCH_NAME" property="researchName" />
		<result column="RESEARCH_CONTENT" property="researchContent" />
		<result column="FILE_PATH" property="filePath" />
		<result column="FILE_SIZE" property="fileSize" />
		<result column="CREATEOR_ID" property="createorId" />
		<result column="CREATEOR" property="createor" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>

</mapper>
