<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.business.planmgr.otherdraftdesign.mapper.TProWorkingManuscriptDesignResearchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.business.planmgr.otherdraftdesign.entity.TProWorkingManuscriptDesignResearch">
		<id column="ID_B" property="idB" />
		<result column="ID_R" property="idR" />
		<result column="SATISFACTION" property="satisfaction" />
		<result column="EFFECT_EVALUATION" property="effectEvaluation" />
		<result column="SUGGEST_ON_PROJECT" property="suggestOnProject" />
		<result column="OTHER_CONTENT" property="otherContent" />
	</resultMap>

</mapper>
